/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(../Images/body.png) repeat-x scroll center top rgb(255, 255, 255);
    width: 90%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.logoTopLeft {
    background: url(../Images/posta_logo.jpg) no-repeat left center !important;
    width: 150px;
    height: 50px;
    top: 0;
    position: fixed;
    z-index: 10030;
    margin-left: 20px;
    position: fixed !important;
    width: 220px !important;
}

.content !important {
    /*width:100%;*/
    height: 100%;
}

.contentleft !important {
    width: 270px;
    height: 100%;
}

.left !important {
    /*border-left: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    border-right: none;
    border-color: #eef1f1 #bebebd #bebebd #e4e4e4;*/
    /*background-color: #f5f5f5;*/
    margin-right: -30px;
    position: relative;
    width: 80%;
    /*overflow: hidden;*/
    /*-moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);*/
    margin-top: 100px;
    margin-left: 50px;
    z-index: 1001;
}

.spec_box !important {
    /*border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;*/
    background: #F6DE00; /*#fff;*/
    color: #7c7c7c;
    /*margin-bottom: -1px;*/
    width: 100%;
    /*margin-left:50px;*/
    /*border-style: outset;*/
    /*-webkit-border-radius: 10px;   
    -webkit-border-radius: 10px;*/
    border-radius: 10px;
    /*-webkit-box-shadow: 
        0px 3px rgba(128,128,128,1),
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1);
   -webkit-transition: -webkit-box-shadow .1s ease-in-out;

    -moz-box-shadow: 
        0px 3px rgba(128,128,128,1),
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1);
   -moz-transition: -webkit-box-shadow .1s ease-in-out;*/
    box-shadow: 0px 3px rgba(128,128,128,1), 0px 4px rgba(118,118,118,1), 0px 5px rgba(108,108,108,1), 0px 6px rgba(98,98,98,1), 0px 7px rgba(88,88,88,1), 0px 8px rgba(78,78,78,1), 0px 14px 6px -1px rgba(128,128,128,1);
    transition: -webkit-box-shadow .1s ease-in-out;
}

.modalBackground {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.modalPopup {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 300px;
    height: 140px;
}

.modalPopup_message {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 200px;
    height: 40px;
}

.HighLightLink {
    text-decoration: none;
    background-color: #337ab7;
    color: white !Important;
}

.horizontal-center-aligned {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.linkToTop {
    text-decoration: underline;
}